.grid-cell {
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  box-sizing: border-box;
  border: 2px solid#d3d6da;
}
