.keyboard-key {
  width: 40px;
  height: 55px;
  border-radius: 4px;
  border: none;
  background-color: #d3d6da;
  color: black;
  font-weight: bold;
  margin: 4px;
  text-transform: uppercase;
}

.keyboard-key:nth-child(11) {
  margin-left: 28px;
}

.keyboard-key:nth-child(20),
.keyboard-key:nth-child(28) {
  width:60px;
}
