* {
  color: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: white;
}

.app-container {
  height: 90vh;
}

.game-container {
  width: 100%;
  max-width: 500px;
  height: calc(100% - 500px);
  margin: 0 auto;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}
